body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main_box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add_box {
  border: 1px grey solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: rgb(34, 29, 48);
}

.lists_box {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  background-color: rgb(36, 19, 67);
  border-radius: 0 0 10px 10px ;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.add_button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(48, 51, 73);
}

.add_button:active{
  border: rgb(244, 244, 244) 3px solid ;
}

.button_input_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 5px;
}
